.preset-bento > div > .max-w-xl {
  max-width: 72rem;
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}

@media (min-width: 768px) {
  .preset-bento > div > .max-w-xl {
    grid-template-columns: repeat(2, 1fr);
  }
  .preset-bento > div > .max-w-xl > *:first-child {
    grid-column: 1 / -1;
  }
  .preset-bento > div > .max-w-xl > *:last-child {
    grid-column: 1 / -1;
  }
}
